{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="jumbotron">
    <h1 class="display-4">Hi, dear Reviewer!</h1>
    {% if user.is_authenticated %}
      <p class="lead">Please create an article.</p>
    {% else %}
      <p class="lead">
        Please <a href="{% url 'signup' %}">sign up</a> or <a href="{% url 'login' %}">login</a> to create an article.
      </p>
    {% endif %}
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View All Articles</a>
      {% if user.is_authenticated %}
        <a class="btn btn-success btn-lg" href="{% url 'article_new' %}" role="button">Add Article</a>
      {% endif %}
    </p>
  </div>

{% endblock %}
